{% extends 'base.html' %}
{% load static %}
{% block title %}
About - World Tree Preservation Website Template
{% endblock %}
{% block body %}
<div class="body">
		<div class="about">
			<h2>About</h2>
			<ul>
				<li class="green">
					<span>What is <br>Environmental <br>Education?</span>
					<p>
						Environmental education is a process that allows individuals to explore environmental issues, engage in problem solving, and take action to improve the environment. As a result, individuals develop a deeper understanding of environmental issues and have the skills to make informed and responsible decisions.
					</p>
				</li>
				<li class="yellow">
					<span>Environmental Protection <br> and <br>Ecology</span>
				</li>
				<li class="blue">
					<span>Environmental Regulation <br> and <br>Litigation</span>
				</li>
				<li class="brown">
					<span>Threatened & Endangered Species<br></span>
					<p>
						Until recently, humankind seemed to view the ocean as a source of infinite resources. Its vast size and depth and unexplored frontiers made the ocean appear invulnerable to overexploitation.
					</p>

					<p>
						The truth is that the populations of many species are decreasing at an unsustainable rate, and the number of species listed as Endangered from marine life Families such as whales, dolphins, manatees and dugongs, salmon, seabirds, sea turtles, and sharks to name a few, are on the rise.
					</p>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}